@model IEnumerable<DACN_Quan_Ly_Kham_Chua_Benh.ViewModel.LichKhamViewModel>

@{
    ViewData["Title"] = "SearchLichBacSi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th, td {
        border: 1px solid #ccc;
        padding: 8px;
    }

    table {
        width: 100%;
    }
    a{
        text-decoration: none;
    }
</style>

@{
    string icon = "";
    if (ViewBag.Icon == "fa-sort-desc")
    {
        icon = "fa-sort-asc";
    }
    else
    {
        icon = "fa-sort-desc";
    }
}

<div style="margin: 20px; width: 100%">
    <div class="form-search" style="margin: 10px">
        @using (Html.BeginForm("SearchLichBacSi", "LichKham", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-3">
                    <select id="idBacSi" name="maBacSi" class="form-control">
                        <option value="">-- Chọn bác sĩ --</option>
                        @foreach (var bacSi in ViewBag.BacSi)
                        {
                            if (bacSi.MaBS == ViewBag.SelectedBacSi)
                            {
                                <option value="@bacSi.MaBS" selected>
                                    [@bacSi.MaBS]@bacSi.TenBS
                                </option>
                            }
                            else
                            {
                                <option value="@bacSi.MaBS">
                                    [@bacSi.MaBS]@bacSi.TenBS
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="date" id="ngayTimKiem" name="ngayTimKiem" class="form-control" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" type="submit">
                        Tìm kiếm
                    </button>

                </div>
                <div class="col-md-4">
                    <button type="button" onclick="window.location.href='@Url.Action("SearchLichBacSi", "LichKham")'" class="btn btn-primary">
                        Làm mới
                    </button>
                </div>

            </div>
        }
    </div>
    @if (ViewBag.Length != 0)
    {
        <table style="border-collapse: collapse; border: 1px solid #ccc;">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Trạng thái</th>
                    <th>Kết quả</th>
                    <th>
                        <a href="/LichKham/SearchLichBacSi?sortColumn=ThoiGianBatDau&icon=@icon">TG bắt đầu</a>
                        @if (ViewBag.sortColumn == "ThoiGianBatDau")
                        {
                            <i class="fa @ViewBag.icon"></i>
                        }
                    </th>
                    <th>TG kết thúc</th>
                    <th>Tên bác sĩ</th>
                    <th>Tên bệnh nhân</th>
                    <th>Mã Phòng</th>
                    <th>Ghi chú</th>
                    <th>
                        <a href="/LichKham/SearchLichBacSi?sortColumn=ThanhTien&icon=@icon">Thành Tiền</a>
                        @if (ViewBag.sortColumn == "ThanhTien")
                        {
                            <i class="fa @ViewBag.icon"></i>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lichKham in Model)
                {
                    <tr>
                        <td>@lichKham.MaLK</td>
                        @if (lichKham.TrangThai == 1)
                        {
                            <td>Hoàn thành</td>
                        }
                        else if (lichKham.TrangThai == 2)
                        {
                            <td>Lịch mới</td>
                        }
                        else
                        {
                            <td style="color: red">Đã hủy</td>
                        }
                        <td>@lichKham.KetQua</td>
                        <td>@lichKham.ThoiGianBatDau.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@lichKham.ThoiGianKetThuc.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>[@lichKham.MaBS] @lichKham.TenBS</td>
                        @if (lichKham.MaBN != "")
                        {
                            <td>
                                [@lichKham.MaBN]<br />
                                @lichKham.TenBN <br />
                                SDT: @lichKham.SDT
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@lichKham.MaPhongKham</td>
                        <td>@lichKham.GhiChu</td>
                        <td>@lichKham.ThanhTien</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 style="text-align:center; margin-top: 30px">Không có lịch khám</h4>
    }
    @if (ViewBag.Length != 0)
    {
        <div style="padding-top:10px">
            <tr>
                <td>
                    @{
                        int leftPage = ViewBag.Page - 1;
                        if (leftPage <= 0)
                        {
                            leftPage = 1;
                        }
                        int rightPage = ViewBag.Page + 1;
                        if (rightPage > ViewBag.PageNumber)
                        {
                            rightPage = ViewBag.PageNumber;
                        }
                    }
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="/LichKham/SearchLichBacSi?page=@leftPage">
                                &lt&lt
                            </a>
                        </li>
                        @for (int i = 0; i < ViewBag.PageNumber; i++)
                        {
                            if (i + 1 == ViewBag.Page)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="/LichKham/SearchLichBacSi?page=@(i+1)">
                                        @(i + 1)
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/LichKham/SearchLichBacSi?page=@(i+1)">
                                        @(i + 1)
                                    </a>
                                </li>
                            }
                        }
                        <li class="page-item active">
                            <a class="page-link" href="/LichKham/SearchLichBacSi?page=@rightPage">
                                >>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </div>
    }
</div>
